<nav class="docs-nav full-navigation" id="docs-nav">
    <ul class="docs-nav-list">
        <li class="nav-item top-level current suite">
            <a href="#">Contents</a>
            <ul>
                <li class="nav-item current">
                    <a href="{{item.url}}">{{page.title}}</a>
                    <div class="toc">
                        {% include toc.html html=content h_max=3 %}
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>
