<nav class="docs-nav">
	<ul>
		<li class="nav-item top-level {% if page.url == "/" %}current{% endif %}">
			<a href="/">CloudCannon Suite</a>
		</li>
		{% assign sorted = site.pages | sort: 'weight_number' %}
		{% for item in sorted %}
			{% if item.show_in_suite_nav %}
				<li class="nav-item top-level {% if item.url == page.url %}current{% endif %}">
					<a href="{{ item.url }}">{{ item.title }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	
	<ul class="packages">
		{% assign packages = site.packages | sort: 'weight_number' %}
		{% for item in packages %}
			<li class="nav-item top-level {% if item.url == page.url %}current{% endif %}">
				<a href="{{ item.url }}"><img src="{{ item.image }}" width="18" height="18" />{{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>

	<ul>
		<li class="nav-item top-level {% if page.url == '/changelog/' %}current{% endif %}">
			<a href="/changelog/">Change Log</a>
		</li>
	</ul>

</nav>