---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	
	{% include components/hero/main.html image="" heading="CloudCannon Suite" subtitle="An opinionated set of tools used to build and maintain static sites." %}
</header>

<div class="dark-content docs-container">
	<div class="wrapper wrapper-large">
		<nav class="docs-nav">
			<ul>
				{% assign sorted = site.html_pages | sort: 'weight' %}
				{% for page in sorted %}
					{% if page.show_in_suite_nav %}
						<li class="nav-item top-level {% if page.url == page.url %}current{% endif %}">
							<a href="{{ page.url }}">{{ page.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			
			<ul>
				{% assign grouped = site.packages | group_by: 'title' | sort_by_array: 'title', site.data.docs_order %}

				{% for group in grouped %}
					<li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
						{% assign items = group.items | sort: 'order' %}
						<a href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name }}</a>
						<ul>
							{% for item in items %}
								<li class="nav-item {% if item.url == page.url %}current{% endif %}"><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>

			<ul>
				<li class="nav-item top-level {% if page.url == '/changelog/' %}current{% endif %}">
					{% assign changelog = site.html_pages | where: 'url', '/changelog/' | first %}
					<a href="/changelog/">{{ changelog.title }}</a>
				</li>
			</ul>

		</nav>

		<section class="docs-main">
		  {{ content }}
		</section>
	</div>
</div>