---
layout: default
icons: true
header_class: short
---

<header class="short">
	{% include navigation/top.html %}
</header>

<div class="dark-content docs-container">
	<div class="wrapper wrapper-large">
		{% include suite-nav.html %}
		<section class="docs-main">
			<article class="content">
				<div class="page-header">
					{% if page.heading %}
						<h1>{{ page.heading }}</h1>
					{% elsif page.title %}
						<h1>{{ page.title }}</h1>
					{% elsif page.name %}
						<h1>{{ page.name }}</h1>
					{% endif %}

					{% if page.subtitle %}
						<p class="subtitle">{{ page.subtitle }}</p>
					{% elsif page.description %}
						<p class="subtitle">{{ page.description }}</p>
					{% endif %}
				</div>
				<a href="cloudcannon:collections/_packages/{{ page.url | remove: "/packages/" }}" class="editor-link button"><strong>&#9998;</strong> Edit package</a>

				{% if page._is_package %}
					<p>Now that you have <code>cloudcannon-suite</code> and <code>gulp</code> installed, we have to configure our gulpfile. For a basic setup you can add:</p>
				{% endif %}

				{{ content }}
			</article>
		</section>
	</div>
</div>