$white: #fff;
$black: #000;
$nav-bar-background: mix($white, $black, 99%);

div.doc-nav {
    max-height: 0;
    background-color: #fff;
    transition: max-height 0.2s ease-in, padding 0.2s linear;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0px 15px 15px #fff;
    
    @media (max-width: 800px) {
        overflow-x: auto;
        box-shadow: 0px 0px 0px transparent;
    }

    li a {
        color: #666;
        &:hover {
            color: #222;
        }
    }
    
    .package-icon {
        line-height: 0;
        padding: 5px 0;
    }

    .package-nav-open &,
    &.bottom {
        max-height: 200px;
    }

    &.none:not(.bottom) ul {
        margin-top: -10px;
    }

    &.bottom {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 10px;

        &:before {
            top: 10px;
            bottom: 0;
        }

        &.none {
            padding-bottom: 0;
        }

        .doc-nav-sections-empty-fix {
            top: 0;
        }

        a.doc-nav-section-link.current {
            border-radius: 0 0 $docs-nav-bottom-curve-size $docs-nav-bottom-curve-size;
            &:before, &:after {
                top: 0;
                border-radius: $docs-nav-bottom-curve-size 0 0 0;
            }
            &:after {
                right: 100%;
                left: auto;
                border-radius: 0 $docs-nav-bottom-curve-size 0 0;
            }
        }
    }

    @media (max-width: 800px) {
        background-color: #e6e5e6;
    }
}
