$white: #fff;
$black: #000;
$nav-bar-background: mix($white, $black, 99%);

div.doc-nav {
    max-height: 0;
    padding: 0;
    background-color: $nav-bar-background;
    transition: max-height 0.2s ease-in, padding 0.2s linear;

    li a {
        color: #666;
        &:hover {
            color: #222;
        }
    }

    .package-nav-open & {
        max-height: 200px;
        padding-top: 10px;
    }

    &.none ul {
        margin-top: -10px;
    }

}

@media (min-width: 930px) {
    #packages-nav-button {
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid white;

            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
        }
        &.arrow-down {
            &:after {
                border-bottom: 0px solid transparent;
                border-top: 5px solid white;
            }
        }
    }
}
