.landing {
	min-height: 100vh;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	margin-top: -85px;
	height: 100vh;
}

.hero {
	flex: 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	
}



.hero .headings {
	padding: 25px;
	padding-bottom: 15px;
}

.page-header {
	margin-bottom: 50px;
}

.page-header h1 {
	margin: 0;
	font-size: 3rem;
}

.subtitle {
	font-size: 1.2em;
	font-style: italic;
	margin-top: 10px;
	color: #777;
}






.technologies {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 0;

	> div {
		flex: 1;
		max-width: 183px;
	}

	img {
		max-height: 100px;
	}
}