.hero-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	margin-top: -85px;
	height: 100vh;

	.hero {
		flex: 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		align-content: center;

		.headings {
			padding: 25px;
			padding-bottom: 15px;
			.subtitle {
				max-width: none;
				color: #ffffff;
			}
		}

		.technologies {
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 0;

			> div {
				flex: 1;
				max-width: 183px;
			}

			img {
				max-height: 100px;
			}
		}
	}
}

.content {
	.page-header {
		margin-bottom: 50px;
			h1 {
			margin: 0;
			font-size: 3rem;
		}
	}

	.subtitle {
		font-size: 1.2em;
		font-style: italic;
		margin-top: 10px;
		color: #777;
	}

	.file-structure {
		list-style: none;
		margin: 0;
	}

	.date {
		color: #888;
		font-style: italic;
	}

	.badge {
		font-family: 'Nunito Sans',sans-serif;
		padding: 2px 5px;
		text-transform: uppercase;
		font-size: .8rem;
		border-radius: 2px;
		background: #eee;
		font-weight: 700;
	}

	.major {
		background: #407afc;
		color: #fff;
	}

	.file-structure li.indent-2 {
    	margin-left: 30px;

    .editor-link.button {
         margin-bottom: 25px;
    }
}

.file-structure strong i {
    float: left;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.file-structure strong {
   	color: #222;
    line-height: 24px;
    text-decoration: none;
}

.material-icons {
	line-height: 1.8rem
}

	.large-boxes {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 20px -10px;
		list-style: none;

		li {
			margin: 10px;
			flex: 1 1 200px;
			display: flex;

			a {
				flex: 1;
				padding: 20px;
				display: block;
				background: #eee;
				border-radius: 5px;
				text-decoration: none;
				line-height: 1.5;
				color: #4A4A4A;

				strong {
					display: block;
				}

				small {
					font-size: 80%;
				}
			}

			a:hover {
				color: #111111
			}
		}
	}
}




